body{
    background-color: rgb(36, 24, 34);
    color: #ffffff;
}
#video-background{
    position: relative;
}
#video{
    position:absolute;
}
#submit-form-buttom{
    background: greenyellow;
}
#warning {
    color: #ff0000;
}
footer {
    color: rgb(36, 24, 34);
    background-color: rgb(154, 205, 50);
}